/*mobile view*/
@media only screen and (max-width: 688px){
	.container{
		width: 100%;
	}
	.bottom{
		width: 100%;
	}
	.top, .populars, .bottom-details{
		grid-template-columns: repeat(1, 1fr);
	}
	.top{
		grid-template-columns: repeat(4, 1fr);
	}
	.icon, .top-right, .popular, .top{
		flex-direction: column;
	}
}
/*tablet view*/
@media only screen and (min-width: 689px) and (max-width: 992px){
	.container{
		width: 100%;
	}
	.bottom{
		width: 100%;
	}
	.populars{
		grid-template-columns: repeat(2, 1fr);
	}
	.top{
		grid-template-columns: repeat(3, 1fr);
	}
	.bottom-details{
		grid-template-columns: repeat(1, 1fr);
	}
	.icon, .top-right, .popular, .top{
		flex-direction: column;
	}
}